
body{
    min-height: 100vh;
    padding: 1% 1%;
    background-color: rgb(57, 130, 59);
    text-align: center;
    font-family: Roboto, Arial, sans-serif;
}
.home{
    align-items: center;
    align-content: center;
    
}
.left{
   text-align: left;
}
.instruction{
    text-align: left;
    
    padding-top: 2%;
    padding-left: 20%;
    padding-right: 5%;
}
a{
    text-decoration: none;
    transition-duration: 0.3s;  
    color: white;
    text-decoration: none; 
}
::-webkit-scrollbar{
    width:15px;
}
::-webkit-scrollbar-track{
    background: #d1e5ff;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#087421, #118d4f);
    border-radius: 10px;
}
.side-bar{
    background: #355530;
    width: 250px;
    left: -250px;
    height: 100vh;
    position: fixed;
    top: 0;
    overflow-y: auto;
    transition: 0.6s ease;
    transition-property: left;
}
header{
    background: #538a4e;
}
header img{
    width: 100px;
    margin: 15px;
    margin-left: 10px;
    margin-top: 30px;
    /* border-radius: 50%; */
   /* border: 3px solid #b4b8b9;*/
}
.close-btn{
    position: absolute;
    color: #fff;
    font-size: 23px;
    right:0px;
    margin: 15px;
    cursor:pointer;
}
header h1{
   text-align: center;
   font-weight: 500;
   font-size: 25px;
   padding-bottom: 13px;
   font-family: sans-serif;
   letter-spacing: 2px;
}
.menu{
    width: 100%;
    margin-top: 3px;
}
.menu .item {
   position: relative;
   cursor: pointer; 
}
.menu .item a{
  color:  #fff;
   font-size: 16px;
   display: block;
   padding: 3px 3px;
   /* height of side bar*/
   line-height: 30px;
}

.item i{
    margin-right: 15px;
}
.item a .dropdown{
 position: absolute;
 right:0;
 margin:20px;
 transition:0.3s ease;
}
.item .sub-menu{
    background: #3c803a;
    display: none;
    text-align: left;
    padding-left: 3%;
}
.menu-btn{
   position: absolute;
   color: black;
   font-size: 35px;
   cursor: pointer;
   margin: 25px;
}
.side-bar.active{
   left:0; 
}
.side-bar::-webkit-scrollbar{
    width: opx;
}
.item .sub-menu a{
    padding-left: 2px;
}
.rotate{
    transform: rotate(90deg);
}
    




