
*{
    font-family: 'roboto', sans-serif;
}
p, li{
    font-size: 18px;
}
.container{
    display: flex;
    gap: 15px;
}
.dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    border: 2px solid rgb(14, 77, 109);
    background-color: rgb(26, 94, 119);
    border-radius: 10px;
    transition: transform 0.5s;
}

.dropzone.dragover{
    transform: scale(0.9);
}

#file-dropzone{
    width: 400px;
    height: 200px;
}